<div class="container my-4">
    <h3 class="mb-3">Lista de Eventos</h3>
  
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Título</th>
          <th>Descrição</th>
          <th>Data e Hora</th>
          <th>Local</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let evento of eventos">
          <td>{{ evento.id }}</td>
          <td>{{ evento.title }}</td>
          <td>{{ evento.description }}</td>
          <td>{{ evento.dateTime | date:'short' }}</td>
          <td>{{ evento.location }}</td>
        </tr>
      </tbody>
    </table>
  
    <nav aria-label="Navegação de página">
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="paginaAtual === 0">
          <button class="page-link" (click)="paginaAnterior()" [disabled]="paginaAtual === 0">Anterior</button>
        </li>
        <li class="page-item disabled">
          <span class="page-link">
            Página {{ paginaAtual + 1 }} de {{ totalPages }}
          </span>
        </li>
        <li class="page-item" [class.disabled]="paginaAtual + 1 >= totalPages">
          <button class="page-link" (click)="proximaPagina()" [disabled]="paginaAtual + 1 >= totalPages">Próximo</button>
        </li>
      </ul>
    </nav>
  </div>
  